.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #b9524a;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.AddCourse {
    width: 50%;
    margin: auto;
    align-items: left;
    justify-content: center;
}

.customButton {
    background-color: rgb(80, 76, 76);
    display: inline;
    width: 20%;
    margin-right: 1ch;
    color: rgb(255, 255, 255);
}

.alignChildrenCenter {
    align-items: center;
}

.App-Body {
    margin-top: -3ch;
    border-width: 1ch;
    border-style: solid;
    border: rgb(80, 76, 76);
    border-radius: 1ch;
    margin-left: 25%;
    margin-right: 25%;
    color: black;
    background-color: #bfecec;
    font-size: 110%;
    box-shadow: 2px 2px 10px 1px #000000;
}

.add-border {
    border: solid 1px black;
    width: 100%;
}

.inner-border {
    border: solid 1px black;
    width: 100%;
    display: table;
}
.innerTR {
    width: 100%;
    display: table;
}

table tr:nth-child(even) td {
    background-color: rgb(216, 216, 216);
}
table tr:nth-child(odd) td {
    background-color: white;
}

td {
    width: 30%;
    text-align: center;
}

.main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 100px;
    height: 150px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    border-style: solid;
    border-radius: 25px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.popup-inner .create-btn {
    position: absolute;
    bottom: 16px;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.popup-inner .degreedropdown {
    top: -75px;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.semester-btns {
    left: 50px;
}

.session-table {
    float: right;
    width: 50%;
    background-color: #fff;
    border-style: solid;
}

* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.Plan {
    background-color: #c5c5c5;
    border-radius: 1ch;
    color: rgb(0, 0, 0);
    margin-bottom: 4ch;
    margin-top: 4ch;
    margin-left: 8ch;
    margin-right: 8ch;
    padding-bottom: 7ch;
    padding-top: 1ch;
    padding-left: 2ch;
}
.orangeButton:hover {
    background-color: #c55048;
}
.orangeButton:active {
    box-shadow: none !important;
    background-color: #c55048;
    border: #c55048;
    top: 3px;
}
.orangeButton:focus {
    background-color: #c55048;
    /* box-shadow: 5px 5px 5px rgba(2, 2, 2, 0.486); */
    box-shadow: 0px 3px 0px 0px #5e2418;
}
.orangeButton {
    color: black;
    position: relative;
    box-shadow: 0px 3px 0px 0px #5e2418;
    /*  box-shadow: 5px 5px 5px rgba(2, 2, 2, 0.486); */
    background-color: #c55048;
    border: #c55048;
    margin-left: 1.5ch;
}
